.navbar  {
  display: flex!important;
  align-items: center!important;
  justify-content: space-between;
  padding: 20px;
  background-color: black!important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%)!important; /* Gradient from dark to transparent */
  color: white;
  position: fixed!important; 
  z-index: 100;
  width: 100%;
  box-sizing: border-box; 

}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-dark .navbar-nav {
  justify-content: space-between;
}

.navbar .navbar-brand img {
  width: 100px; /* Adjust logo size */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
 
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff; /* Netflix red on hover */
}

.navbar-dark .navbar-nav .nav-link p {
  display: inline;
  margin-right: 10px;
}

.navbar .dropdown-menu {
  background-color: #000;
  right: 0!important; 
  left: auto!important;
}

.navbar .dropdown-menu .dropdown-item {
  color: #fff; /* White text color for dropdown items */
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #e50914; /* Netflix red on hover */
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-dark {
  background-color: #141414 !important;
  animation: slideIn .5s ease forwards; /* Adjust duration and easing as needed */
  transition: background-color 1s ease; /* Smooth transition for background color change */
}

@media (max-width: 768px) {
  #basic-navbar-nav{
    background-color: black!important;
  }
}